BasedOnStyle: GNU
AlignEscapedNewlines: DontAlign
AlignOperands: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: true
  IndentBraces: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
ColumnLimit: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IndentGotoLabels: false
PointerAlignment: Middle
SpaceAfterCStyleCast: true
TabWidth: 8
UseTab: Always
