# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_with = 2
charset = utf-8

# 2 space indentation
[*.{c,h,cpp,hpp}]
indent_style = tab
indent_size = 8

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
